<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <p class="navbar-text navbar-left"><%= link_to "sample app", '#', id: "logo" %></p>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home",    '#' %></li>
      <li><%= link_to "Help",    '#' %></li>
      <li><%= link_to "Sign in", '#' %></li>
    </ul>
  </nav>
</header>